<ion-menu [content]="conteudo">

    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
        <ion-list *ngIf="auth.authenticated">
            <button ion-item *ngFor="let p of paginas" (click)="abrirPagina(p)" menuClose>
                {{ p.titulo }}
            </button>
            <button ion-item menuClose (click)="logout()">
                <ion-icon name='log-out' item-right></ion-icon>
                Sair
            </button>
        </ion-list>

        <ion-item (click)="login()" *ngIf="!auth.authenticated">
            <ion-icon name='log-in' item-right></ion-icon>
            Entrar
        </ion-item>

    </ion-content>

</ion-menu>


<ion-nav #conteudo [root]="rootPage"></ion-nav>