<ion-header>
		<cabecalho-customizado [titulo]="'Meus dispositivos'"></cabecalho-customizado>
	</ion-header>

<ion-content padding>

  <!-- <ion-list>
    <ion-item *ngFor="let disp of listaDispositivos">
      {{disp.Nome}} - {{disp.TipoDispositivo}}
    </ion-item>
  </ion-list> -->

  <ion-item-group>
      <ion-item-divider color="light">Dispositivos MQTT</ion-item-divider>
      <ion-item *ngFor="let dispMQTT of listaDispositivosMQTT">
        {{ dispMQTT.Nome }}
      </ion-item>

      <ion-item-divider color="light">Dispositivos bluetooth</ion-item-divider>
      <ion-item *ngFor="let dispBT of listaDispositivosBluetooth">
          {{ dispBT.Nome }}
      </ion-item>
    </ion-item-group>

  <ion-fab bottom right>
    <button ion-fab (click)="adicionarDispositivo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>