<ion-header>
  <cabecalho-customizado [titulo]="'Dispositivos'"></cabecalho-customizado>
</ion-header>

<ion-content padding>

  <ion-item-group *ngIf="CasaAtual != null && CasaAtual.Comodos != null">
    <ng-container *ngFor="let comodo of CasaAtual.Comodos">
      <ion-item-divider color="light">{{ comodo.Nome }}</ion-item-divider>
      <ng-container *ngIf="comodo.Dispositivos != null" >
        <ion-item *ngFor="let disp of comodo.Dispositivos">
          {{ disp.Nome }}
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-item-group>
  <ion-fab bottom right>
    <button ion-fab (click)="adicionarDispositivo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>