<ion-header>
  <cabecalho-customizado [titulo]="'Casas'"></cabecalho-customizado>
</ion-header>

<ion-content padding>
  <ion-list radio-group>
    <ion-list-header>
      Minhas Casas
    </ion-list-header>
    <ion-item *ngFor="let casa of Casas">
      <ion-label>{{casa.Nome}}</ion-label>
      <ion-radio *ngIf="CasaAtual != null && CasaAtual.Id == casa.Id" checked="true" (ionSelect)="atualizarCasaAtual(casa)" value="casa"></ion-radio>
      <ion-radio *ngIf="CasaAtual == null || CasaAtual.Id != casa.Id" checked="false" (ionSelect)="atualizarCasaAtual(casa)" value="casa"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
      <button ion-fab (click)="adicionarCasa()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>